.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header h1 {
  font-size: 2em;
  margin-bottom: 1em;
}

.App-header p {
  font-size: 1.2em;
  margin-bottom: 2em;
}

.App-header button {
  font-size: 1em;
  margin: 0.5em;
  padding: 0.5em 1em;
}
